html{
    font-family:"Product Sans", sans-serif;
}
#navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height:40px;
    margin-top: 9px;
}
a{
    text-decoration:none;
    margin:10px 10px;
    font-size:10pt;
    color:black;
    
}
a:hover{
    text-decoration:underline;
}
#right img{
    height:20px;
    width:20px;
}
#google-account{
    box-sizing:content-box;
    font-size:16pt;
    color:white;
    background:green;
    background-size:40px 40px ;
    height:40px;
    width:40px;
    border-radius:50%;
    
    margin: -1px;
   
    float:right;
    
   
}

p{
    color:red;
}
